# File managed by Puppet.

# This file is sourced by /etc/init.d/rabbitmq-server. Its primary
# reason for existing is to allow adjustment of system limits for the
# rabbitmq-server process.
#
# Maximum number of open file handles. This will need to be increased
# to handle many simultaneous connections. Refer to the system
# documentation for ulimit (in man bash) for more information.
ulimit -n <%= @file_limit %>
RABBITMQ_CTL_ERL_ARGS="-kernel inet_dist_listen_min 35672 -kernel inet_dist_listen_max 35682"
